{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block titulo %} Pagina Principal Licencias Urbanisticas {% endblock %}


{% block css %}
	<!-- Estilo (css) de Openlayers -->
	<link href="{% static 'licencias/css/leaflet.css' %}" rel="stylesheet">
	<!-- Estilo (css) para el Mapa -->
	<link href="{% static 'licencias/css/visor.css' %}" rel="stylesheet">
	<!-- Estilo (css) para el input de busqueda de localizacion -->
	<link href="{% static 'licencias/css/l.geosearch.css' %}" rel="stylesheet">
{% endblock %}   


{% block javascripts_head %}
	<!-- Javascripts (js) de Openlayers -->
	 <script src="{% static 'licencias/js/leaflet.js' %}"></script>
	<!-- Javascripts (js) de Geosearch  -->
	 <script src="{% static 'licencias/js/l.control.geosearch.js' %}"></script>
<!-- Javascripts (js) de Esri  -->
	 <script src="{% static 'licencias/js/l.geosearch.provider.esri.js' %}"></script>
{% endblock %}



{% block content %}

<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Aprobadas </span>
				<span class="info-box-number">90<small>%</small></span>
			</div> <!-- /.info-box-content -->
		</div> <!-- /.info-box -->
	</div> <!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Viegntes</span>
				<span class="info-box-number">41,410</span>
			</div> <!-- /.info-box-content -->
		</div> <!-- /.info-box -->
	</div> <!-- /.col -->

	<!-- fix for small devices only -->
	<div class="clearfix visible-sm-block"></div>

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Vencisas</span>
				<span class="info-box-number">760</span>
			</div> <!-- /.info-box-content -->
		</div> <!-- /.info-box -->
	</div> <!-- /.col -->

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box smal">
			<span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Proximas a vencer</span>
				<span class="info-box-number">2,000</span>
			</div> <!-- /.info-box-content -->
		</div> <!-- /.info-box -->
	</div> <!-- /.col -->
</div> <!-- /.row -->

<div id="map"></div>


<script>
var map = L.map('map').setView([ 7.0777, -70.7555 ],15);

L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    minZoom: 6,
    maxZoom: 18
}).addTo(map);

L.control.scale().addTo(map);



var markers=[];
    {% for puntos in lista_coordenadas %}
    var w = parseFloat('{{ puntos.longitud }}'.replace(',','.'));
    var n = parseFloat('{{ puntos.latitud }}'.replace(',','.'));
    var nombre = ('{{ puntos.proyecto }}');
    markers.push(
    {
    "lat": n,
    "lng": w,
    "name": nombre
    }
    );
    {% endfor %}
    

var customOptions =
    {
    'maxWidth': '400',
    'width': '200',
    'className' : 'popupCustom'
    }

for (var i = 0; i < markers.length; i++) {
			marker = new L.marker([markers[i]["lat"],markers[i]["lng"]])
				.bindPopup("Proyecto</br>" + markers[i]['name'] )
				.addTo(map);
		}

new L.Control.GeoSearch({
            provider: new L.GeoSearch.Provider.Esri()
        }).addTo(map);

L.control.mousePosition().addTo(map);


 </script>

{% endblock %}




{% block javascripts_body %}

{% endblock %}
